{include file="../app/view/user/header.html" title="拒绝访问" /}

<div class="mdui-container-fluid">
    <div class="mdui-row">
        <div
            class="mdui-col-xs-12 mdui-col-md-{:think\\facade\\Env::get('theme.CARD_WIDTH')} mdui-col-offset-md-{:think\\facade\\Env::get('theme.CARD_RIGHT_OFFSET')}">
            <div class="mdui-container-fluid">
                <p style="color: #3F51B5; font-size: 34px">拒绝访问</p>
            </div>

            <div class="mdui-typo">
                <p>你正在尝试访问不存在或不属于你的资源。如果你认为此事件不应该发生，请尝试以下方法</p>
                <ul>
                    <li>刷新此页面</li>
                    <li>返回上一页并重试</li>
                    <li>联系管理员反馈这个问题</li>
                </ul>
            </div>

            <a href="/user"
                class="mdui-m-t-2 mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-indigo mdui-ripple">返回主页</a>

            <div class="mdui-m-t-2"></div>

        </div>
    </div>
</div>
</body>

{include file="../app/view/user/footer.html" /}

</html>