{include file="../app/view/admin/header.html" title="登录记录" /}

<div class="mdui-container-fluid">
    <div class="mdui-row">
        <div
            class="mdui-col-xs-12 mdui-col-md-{:think\\facade\\Env::get('theme.CARD_WIDTH')} mdui-col-offset-md-{:think\\facade\\Env::get('theme.CARD_RIGHT_OFFSET')}">
            <div class="mdui-container-fluid">
                <p style="color: #3F51B5; font-size: 34px">登录记录</p>
            </div>

            <div class="mdui-typo">
                <p>你可以在这里查看登录记录</p>
            </div>

            <div class="mdui-table-fluid mdui-m-t-2">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>邮箱</th>
                            <th>时间</th>
                            <th>IP</th>
                            <th>信息</th>
                            <th>类型</th>
                            <th>信息</th>
                            <th>User-Agent</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="logs" id="log"}
                        <tr>
                            <td>{$log.id}</td>
                            <td>{$log.email}</td>
                            <td>{$log.created_at}</td>
                            <td>{$log.ip}</td>
                            <td>{$log.ip_info}</td>
                            <td>{$log.status}</td>
                            <td>{$log.info}</td>
                            <td>{$log.ua}</td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>

            {$page | raw}

        </div>
    </div>
    </br />
</div>

<script>
    $("td:contains('成功')").css("color", "green");
    $("td:contains('失败')").css("color", "red");
</script>

</body>
{include file="../app/view/admin/footer.html" /}

</html>