{include file="../app/view/admin/header.html" title="任务记录" /}

<div class="mdui-container-fluid">
    <div class="mdui-row">
        <div
            class="mdui-col-xs-12 mdui-col-md-{:think\\facade\\Env::get('theme.CARD_WIDTH')} mdui-col-offset-md-{:think\\facade\\Env::get('theme.CARD_RIGHT_OFFSET')}">
            <div class="mdui-container-fluid">
                <p style="color: #3F51B5; font-size: 34px">任务记录</p>
            </div>

            <div class="mdui-typo">
                <p>你可以在这里查看所有用户创建的任务记录</p>
            </div>

            <div class="mdui-table-fluid mdui-m-t-2">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th>操作</th>
                            <!-- <th>#</th> -->
                            <th>任务名</th>
                            <th>状态</th>
                            <th>提交用户</th>
                            <!-- <th>进程</th> -->
                            <th>进度</th>
                            <th>创建于</th>
                            <th>更新于</th>
                            <th>耗时</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="logs" id="log"}
                        <tr>
                            <td>
                                <a href="/admin/log/task/{$log.id}"
                                    class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-ripple mdui-color-blue-grey">
                                    详情
                                </a>
                            </td>
                            <!-- <td>{$log.id}</td> -->
                            <td>{$log.name}</td>
                            <td>{$log.status}</td>
                            <td>{$log.user_id}</td>
                            <td>{$log.schedule}</td>
                            <!-- <td>{$log.current}</td> -->
                            <td>{:date('Y-m-d H:i:s', $log.created_at)}</td>
                            <td>{:date('Y-m-d H:i:s', $log.updated_at)}</td>
                            <td>{$log.total_time ?? 'null'}</td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>

            {$page | raw}

        </div>
    </div>
    </br />
</div>

<script>
    $("td:contains('closed')").css("color", "red");
    $("td:contains('running')").css("color", "orange");
    $("td:contains('cancelled')").css("color", "purple");
    $("td:contains('terminated')").css("color", "red");
    $("td:contains('completed')").css("color", "green");
</script>

</body>
{include file="../app/view/admin/footer.html" /}

</html>