<!DOCTYPE html>
<html lang="cn">

<head>
    <title>[title]</title>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link rel="stylesheet" href="/static/css/mdui.min.css">
    <script src="/static/js/mdui.min.js"></script>
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
</head>

<body>
    <div class="mdui-appbar">
        <div class="mdui-toolbar mdui-color-indigo">
            <p class="mdui-typo-title">
                <i class="mdui-icon material-icons">flight_takeoff</i>&nbsp;Azure
            </p>
        </div>
    </div>
    <br />