{include file="../app/view/auth/header.html" title="登录" /}

<div class="mdui-container-fluid">
    <div class="mdui-row">
        <div class="mdui-col-xs-12 mdui-col-md-4 mdui-col-offset-md-4">
            <div class="mdui-card" style="transform: translateY(25%)">
                <div class="mdui-card-content">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">account_circle</i>
                        <label class="mdui-textfield-label">注册邮箱</label>
                        <input class="mdui-textfield-input" type="text" id="email" required />
                    </div>
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">lock</i>
                        <label class="mdui-textfield-label">登录密码</label>
                        <input class="mdui-textfield-input" type="password" id="password" required />
                    </div>
                    {if $verify.login_verification_code == '1'}
                    {if $verify.captcha_provider == 'think-captcha'}
                    <div class="mdui-row">
                        <div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-6">
                            <i class="mdui-icon material-icons">code</i>
                            <label class="mdui-textfield-label">验证码</label>
                            <input class="mdui-textfield-input" type="text" id="code" required />
                        </div>
                        <div class="mdui-col-xs-4 mdui-m-t-2">
                            {:captcha_img()}
                        </div>
                    </div>
                    {/if}
                    {if $verify.captcha_provider == 'hcaptcha'}
                    <div class="mdui-m-t-2 h-captcha" data-sitekey="{$verify.hcaptcha_site_key}"></div>
                    {/if}
                    {/if}
                    <div class="mdui-card-actions">
                        <button id="login"
                            class="mdui-btn mdui-btn-block mdui-color-indigo mdui-ripple mdui-btn-raised">
                            登录
                        </button>
                        <a href="/forget" class="mdui-m-t-2 mdui-btn mdui-btn-raised mdui-ripple mdui-color-indigo">
                            重置密码
                        </a>
                        <a href="/register"
                            class="mdui-m-t-2 mdui-btn mdui-btn-raised mdui-ripple mdui-color-indigo mdui-float-right">
                            注册账户
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var $ = mdui.$;
    $('#login').on('click', function () {
        $.ajax({
            method: 'POST',
            url: "/login",
            data: {
                code: $('#code').val(), // 如果使用 think-captcha
                email: $('#email').val(),
                password: $('#password').val(),
                hcaptcha_result: $('[name=h-captcha-response]').val(), // 如果使用 hcaptcha
            },
            dataType: "json",
            success: function (data) {
                mdui.alert(data.content, data.title);
                if (data.status == '1') {
                    setTimeout("window.location.href = '/user'", 1500);
                }
            }
        });
    });
</script>

{include file="../app/view/auth/footer.html" /}

</html>