{include file="../app/view/auth/header.html" title="注册" /}

<div class="mdui-container-fluid">
    <div class="mdui-row">
        <div class="mdui-col-xs-12 mdui-col-md-4 mdui-col-offset-md-4">
            <div class="mdui-card" style="transform: translateY(20%)">
                <div class="mdui-card-content">
                    {if $register.allow_public_reg == true}
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">account_circle</i>
                        <label class="mdui-textfield-label">注册邮箱</label>
                        <input class="mdui-textfield-input" type="text" id="email" />
                    </div>

                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">vpn_key</i>
                        <label class="mdui-textfield-label">设置登录密码</label>
                        <input class="mdui-textfield-input" type="password" id="passwd" />
                    </div>

                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">vpn_key</i>
                        <label class="mdui-textfield-label">再次输入密码</label>
                        <input class="mdui-textfield-input" type="password" id="repeat_passwd" />
                    </div>

                    {if $register.reg_email_veriy == true}
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">markunread_mailbox</i>
                        <label class="mdui-textfield-label">请输入邮箱验证码</label>
                        <input class="mdui-textfield-input" id="verify_code" />
                    </div>
                    {/if}

                    {if $verify.registration_verification_code == '1'}
                    {if $verify.captcha_provider == 'think-captcha'}
                    <div class="mdui-row">
                        <div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-6">
                            <i class="mdui-icon material-icons">code</i>
                            <label class="mdui-textfield-label">验证码</label>
                            <input class="mdui-textfield-input" type="text" id="code" required />
                        </div>
                        <div class="mdui-col-xs-4 mdui-m-t-2">
                            {:captcha_img()}
                        </div>
                    </div>
                    {/if}
                    {if $verify.captcha_provider == 'hcaptcha'}
                    <div class="mdui-m-t-2 h-captcha" data-sitekey="{$verify.hcaptcha_site_key}"></div>
                    {/if}
                    {/if}

                    <div class="mdui-card-actions">
                        {if $register.reg_email_veriy == true}
                        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-indigo" id="request_code">
                            获取
                        </button>
                        {/if}
                        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-indigo mdui-float-right"
                            id="register_user">
                            注册
                        </button>
                    </div>

                    {else /}
                    <p style="text-align: center">
                        管理员未开放公共注册。如有需要，请联系管理员
                    </p>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var $ = mdui.$;
    $('#register_user').on('click', function () {
        $.ajax({
            method: 'POST',
            url: "/register",
            data: {
                code: $('#code').val(), // 如果使用 think-captcha
                email: $('#email').val(),
                passwd: $('#passwd').val(),
                verify_code: $('#verify_code').val(),
                repeat_passwd: $('#repeat_passwd').val(),
                hcaptcha_result: $('[name=h-captcha-response]').val(), // 如果使用 hcaptcha
            },
            dataType: "json",
            success: function (data) {
                mdui.alert(data.content, data.title);
                if (data.status == '1') {
                    setTimeout("window.location.href = '/login'", 1500);
                }
            }
        });
    });

    $('#request_code').on('click', function () {
        $.ajax({
            method: 'POST',
            url: "/register/code",
            data: {
                email: $('#email').val()
            },
            dataType: "json",
            success: function (data) {
                mdui.alert(data.content, data.title);
            }
        });
    });
</script>

{include file="../app/view/auth/footer.html" /}

</html>