{include file="../app/view/admin/header.html" title="名下账户" /}

<div class="mdui-container-fluid">
  <div class="mdui-row">
    <div
      class="mdui-col-xs-12 mdui-col-md-{:think\\facade\\Env::get('theme.CARD_WIDTH')} mdui-col-offset-md-{:think\\facade\\Env::get('theme.CARD_RIGHT_OFFSET')}">
      <div class="mdui-container-fluid">
        <p style="color: #3F51B5; font-size: 34px">名下账户</p>
      </div>

      <div class="mdui-typo">
        <p>你可以在这里查看此用户添加的所有账户</p>
      </div>

      <div class="card-body mdui-table-fluid-fixed mdui-m-t-2">
        <table class="mdui-table" style="border: none;">
          <thead>
            <tr>
              <th>#</th>
              <th>账户</th>
              <th>备注</th>
              <th>状态</th>
              <th>类型</th>
              <th>添加时间</th>
              <th>状态更新时间</th>
            </tr>
          </thead>
          <tbody>
            {volist name="accounts" id="account"}
            <tr>
              <td>{++$count}</td>
              <td>{$account.az_email}</td>
              <td>{$account.user_mark}</td>
              <td>{$account.az_sub_status}</td>
              <td>{$account.az_sub_type}</td>
              <td>{:date('Y-m-d H:i:s', $account.created_at)}</td>
              <td>{:date('Y-m-d H:i:s', $account.az_sub_updated_at)}</td>
            </tr>
            {/volist}
          </tbody>
        </table>
      </div>

      <div class="mdui-m-t-2"></div>

    </div>
  </div>
</div>
</body>

<script>
  $("td:contains('Enabled')").css("color", "green");
  $("td:contains('Disabled')").css("color", "red");
  $("td:contains('Warned')").css("color", "red");
</script>

{include file="../app/view/admin/footer.html" /}

</html>